<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>About</ion-title>
        <ion-button type="button" slot="end" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="add" color="light"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi perferendis, tenetur? Aperiam eaque eum illo
        necessitatibus. Consequatur cumque deleniti, distinctio enim ipsa nam obcaecati recusandae rerum similique
        ullam! Harum, vitae.
        <a routerLink="/home">home</a>
        lorem
    </div>

    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button color="secondary">
            <ion-icon  name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
            <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
